@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --base-skin: rgb(11, 144, 79);
}

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled{
    background-color: #000;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 2px !important;

}

.swiper-button-prev, .swiper-button-next{
    background-color: #000;
    width: 35px !important;
    height: 35px !important;
    border-radius: 50%;
    padding: 2px !important;
}

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled:hover{
    opacity: 1;
}

.swiper-button-prev:after, .swiper-button-next:after{
    font-size: 20px !important;
    color: white;
}

.swiper-button-prev:after, .swiper-button-next:after{
    font-size: 20px !important;
    color: white;
}

.swiper-button-prev,
.swiper-button-next{
    transform: scale(0);
}

.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
    transform: scale(1);
    pointer-events: auto;
    transition: 0.3s cubic-bezier(0.25, 0.8,0.25, 2); ;
}

.slide .slide__content--headings .second-letter{
    font-size: 35px;
    line-height: 100%;
}

.register-wrapper{
    position: relative;
    background: #699319;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.register{
    position: absolute;
    top: -150%;
    border-radius: 30px;
    overflow: hidden;
    display: block;
    opacity: 0;
    transform: scale(0);
    background: white;
    transition: 0.2s ease;
    z-index: -9;
    color: #0b0b0b;
}

.register-wrapper:hover .register{
    opacity: 1;
    z-index: 9;
    transform: scale(1);
}

.card{
    background: rgba(0, 0, 0, 0.74);
    backdrop-filter: blur(-2px);
    box-shadow: 1px 1px 10px rgba(7, 0, 0, 0.89);
}

input{
    background: rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(-2px) !important;
    color: white !important;
}

label{
    color: white;
}

.dropdown-menu-dark{
    background: rgba(0, 0, 0, 0.74);
    backdrop-filter: blur(-2px);
}

.table{
    background: transparent;
}

.footer-label{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
}

.logo-label{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -30%);
}

.cart-text{
    color: #0B904F;
}

.cart{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.bg-theme{
    background: var(--base-skin);
}

.text-theme{
    color: var(--base-skin);
}

.prt-page-title-row.style2.blog-single{
    height: 80vh;
    position: relative;
}

.prt-page-title-row.style2.blog-single::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
}

.marathon-users{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--base-skin);
}

.style2{
    position: relative;
    z-index: 1;
}
.style2::before{
    content: '';
    /*background: rgba(0, 0, 0, 0.17);*/
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.prt-page-title-row-inner{
    z-index: 5;
}

.login{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--base-skin);
    color: white;
    border-radius: 50%;
}

.login:hover{
    color: white;
}

.modal-backdrop{
 z-index: 1;
}

.modal .contact-form-block input{
    color: black !important;
    font-weight: bold;
    background: #fff !important;
}

.modal .contact-form-block input::placeholder{
    color: rgba(0, 0, 0, 0.46) !important;
}

.wrap-form.query_form-1 span.text-input span.heading-name{
    color: var(--base-skin);
    font-weight: bold;
}

.modal-template{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.modal-template::before{
    content: '';
    background: white;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 0.5s linear;
}

.modal-template.active::before{
    background: rgba(0, 0, 0, 0.22);
    clip-path: none;
    z-index: 1;
}

.login-password{
    position: absolute;
    top: 48%;
    right: 10%;
    z-index: 3;
    color: black !important;
    transform: translate(-50%, 50%);
    cursor: pointer;
}

.forgot-password{
    font-weight: 500;
    width: 100%;
    color: #0800ff;
    font-size: 14px;
}

nav.main-menu li ul.mega-submenu{
    width: max-content !important;
}

.prt-page-title-row.style1{
    position: relative;
}

.prt-page-title-row.style1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
}

.pricing .nav{
    flex-wrap: nowrap;
}

.pricing .nav-pills .nav-link{
    border: 1px solid var(--base-skin);
    color: var(--base-skin);
    font-weight: bolder;
}


.liner-between{
    height: 10px;
    transition: 1s ease;
    width: 100%;
    border-bottom: 1px solid var(--base-skin);
    border-top: 1px solid var(--base-skin);
}

.line-process{
    height: 100%;
    background: var(--base-skin);
}

.top_130{
    top: -200px;
}

.login-price{
    background: var(--base-skin);
    padding: 12px;
}

.custom-radio{
    font-size: 16px;
    color: var(--base-skin);
    font-family: var(--base-headingfont);
    text-transform: uppercase;
}

.form-check-input:checked{
    background-color: var(--base-skin) !important;
    border-color: var(--base-white) !important;
}

.custom-parent{
    color: var(--base-skin);
    font-family: var(--base-headingfont);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}

.pricing-plan .pricing-head{
    width: 50%;
}

.numbers-item{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--base-white);
}

.numbers-item:hover{
    background: var(--base-skin);
    border: none;
}

.numbers-item.active{
    background: var(--base-skin);
    border: none;
}

.circular-main img {
    position: relative;
    left: 50px;
    bottom: 35px;
}

footer .circular-main img {
    position: relative;
    left: 75px;
    bottom: 0;
}

.cart {
    position: relative;
}

.cart-delete{
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}
